<section>
    <a href="/newTrip" type="button" class="btn btn-success">Add trip</a>
    <button ng-if="!editMode" ng-click="editTrip()" type="button" class="btn btn-primary">Edit trip</button>
    <button ng-if="editMode" ng-click="viewTrip()" type="button" class="btn btn-primary">View trip</button>
    <button ng-click="deleteTrip()" type="button" class="btn btn-danger" confirm="Are you sure you want to delete this trip? All the trips details will be deleted, including the pictures!">Delete trip</button>
</section>
<section ng-if="!editMode" id="singleTrip">
    <div class="title"><h3>{{trip.tripName}}</h3> <span>({{trip.tripDate | date: 'fullDate'}})</span></div>
    <div>{{trip.tripDescription}}</div>

    <ul>
        <li ng-repeat="photo in photos">
            <img src="../uploads/{{photo.tripPhoto}}.jpg">
            <button ng-click="deleteTripPhoto(photo)" type="button" class="btn btn-danger" confirm="Are you sure you want to delete this picture? ">Delete Photo</button>
        </li>
    </ul>
</section>

<section ng-if="editMode">
    <form ng-submit="editTrip(trip.tripName, trip.tripDate, trip.tripDescription)">
        <div class="form-group">
            <label>Trip Name</label>
            <input class="form-control" type="text" ng-model="trip.tripName">
        </div>
        <div class="form-group">
            <label>Trip Date</label>
            <input class="form-control" type="text" ng-model="trip.tripDate">
        </div>
        <div class="form-group">
            <label>Trip Description</label>
            <textarea class="form-control" type="text" rows="5" ng-model="trip.tripDescription"></textarea>
        </div>
        <input class="btn btn-success btn-lg btn-block" type="submit" value="Save">
    </form>
</section>
<section ng-show="!editMode">
        <form id="uploadForm"
              ngf-select=""
              ngf-drop=""
              ng-model="files"
              action    =  {{uploadUrl}}
              method    =  "post"
              enctype   =  "multipart/form-data"
              class="drop-box"
              ngf-drag-over-class="{ accept:'dragover', reject:'dragover-err', delay:100}"
              ngf-multiple="true" ngf-allow-dir="false"
              ngf-accept="'.jpg'">Drag images here or click
        </form>
</section>